mixin slide-in-block(image, title, text, background, color, align)
  .slide-in-block(class=(align === 'right') && `-right`, style=`${background ? `background:${background};` : ''}${color ? `color:${color};` : ''}`)

    .slider
      img(src=image)

    .inner
      div.content
        h1.subheading= title
        p= text