mixin slide-in-block(image, title, text, background, color)
  .slide-in-block(style=`${background ? `background:${background};` : ''}${color ? `color:${color};` : ''}`)
    .inner

      .slider(style= `max-width: 700px`)
        +slide-in('./images/retts-plus-2.png')
        
      div.content
        h1.subheading= title
        p= text
        .slider(style= `max-width: 700px`)