mixin slide-in-block(image, title, text, background, color, modifier)
  .slide-in-block(class=modifier, style=`${background ? `background:${background};` : ''}${color ? `color:${color};` : ''}`)

    if (image.positon === 'inside')
      .inner(class=modifier)
        img(src=image.path, width=image.width, height=image.height)
        div.content
          h1.subheading= title
          p= text

    else
      .slider
        img(src=image)
      .inner
        div.content
          h1.subheading= title
          p= text