mixin text-block(title, text, content = [], background, color)
  .text-block(style=`${background ? `background:${background};` : ''}${color ? `color:${color};` : ''}`)
    .inner
      h1.subheading= title
      p.text= text

      if content[0] === 'image'
        img(src=content[2], alt=content[1])
      else if content[0] === 'link'
        a.link(href=content[2])= content[1]
