mixin bookmark-block(title, text, items, type, background, color, align = 'right')
  .bookmark-block(style=`${background ? `background:${background};` : ''}${color ? `color:${color};` : ''}`)
    .inner(class=(align==='left') && '-right')

      if (type[0] === 'parallax')
        +parallax-scroll(type[1], type[2])

      else if (type[0] === 'image')
        img.image(src=type[1] width='603' height='852')

      div.content
        h1.subheading= title
        p(class='item -text')= text

        each item in items
          p(class='item')
            img(src=item.image)
            span= item.name
