mixin three-block(blocks, background, color)
  .three-block
    .inner

      .blocks
        each block in blocks
          .block

            if (block.type === 'image')
              img(src=block.image, class=block.modifier)

            if (block.type === 'text')
              if (block.title)
                h1= block.title
              p= block.text

              if (block.items)
                ul
                  each item in block.items
                    li= item
