mixin parallax-bump-block(title, text, items, background, color)
  .parallax-bump-block(style=`${background ? `background:${background};` : ''}${color ? `color:${color};` : ''}`)
    .inner

      .content
        h1= title
        p= text

      .parallaxes(class='-right')
        each item in items
          +parallax-object(item.image, item.speed, item.startPos, '', item.width)