mixin footer-block(style)
  .footer-block#contact(class=(style === 'grey') && 'grey')
    .inner
      a(href='/')
        img.logo(src=`./images/logo-circle${style === 'grey' ? '-inverted' : ''}.svg`, alt='Future Memories Logo')

      .social
        .mail
          a(href='mailto:hello@futurememories.se')
            img(src=`./images/mail${style === 'grey' ? '-black' : ''}.svg`, alt='Email')
            span.title Say hi!
            span.text hello@futurememories.se

        a(href='https://www.facebook.com/futurememoriesab/')
          img(src=`./images/facebook${style === 'grey' ? '-black' : ''}.svg`, alt='Facebook')

        a(href='https://www.instagram.com/futurememoriesab/')
          img(src=`./images/instagram${style === 'grey' ? '-black' : ''}.svg`, alt='Instagram')

        a(href='https://www.linkedin.com/company/5100963/')
          img(src=`./images/linkedin${style === 'grey' ? '-black' : ''}.svg`, alt='Linkedin')
