mixin astronaut-card(name, image, desc, email, phone)
  article.grid-card
    .card
      .shine

      img(src=image alt=name)

      h3.name= name

      .info
        p= desc
        p.email= email
        if phone
          p= phone
