mixin astronaut-card(name, image, title, desc, email, phone)
  article.grid-card
    .card
      .shine

      img(src=image alt=name)

      h3.name= name

      .info
        p.info-mobile= title
        p.info-desktop= desc
        a(href=`mailto:${email}`).email= email
        if phone
          a(href=`tel:${phone}`).phone= phone
