mixin text-block-multiple(title, text, content = [], background, color)
  .text-block-multiple(style=`${background ? `background:${background};` : ''}${color ? `color:${color};` : ''}`)
    .inner

      .box-left
        h1.subheading= title
        p.text!= text

      .box-right
        each test in content
          p!= test